/* set utility page */
body{
    margin: 0;
    font-family: Fredoka, sans-serif;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* end set utility page */
/* header */
header{
    text-align: center;
}
.conteniner-header,.userinfo{
    width: 80%;
    margin: auto;
}
header h1{
    color: blueviolet;
}
/* main */ 

.contenier-contat{
    background-color: black;
    float: left;
    width: calc((100% / 3) - 5%);
    margin: 10px 10px;
    height: 100%;
}
.contenier-contat .img-profile{
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
}
.img-profile img{
    height: 130px;
}
/*  .male1{
    background-image: url(../Img/male1.png);
}
.male2{
    background-image: url(../Img/male2.png);
} 
.male3{
    background-image: url(../Img/male3.png);
}
.female1{
    background-image: url(../Img/female1.png);
}
.female2{
    background-image: url(../Img/female2.png);
}
.female3{
    background-image: url(../Img/female3.png);
} */ 
.contenier-contat .text{
    float: left;
    padding: 1% 6%;
}
.contenier-contat p{
    color: white;
}
.name{
    size: 20px;
}
.job{
    size: 18px;
}
#email{
    color: aqua;
    size: 11px;
}